<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DrugInfoMapper">

    <resultMap id="BaseResultMap" type="generator.domain.DrugInfo">
            <id property="id" column="id" />
            <result property="insuranceType" column="insuranceType" />
            <result property="chinaName" column="chinaName" />
            <result property="goodsName" column="goodsName" />
            <result property="specifications" column="specifications" />
            <result property="drugUnit" column="drugUnit" />
            <result property="drugManufacturer" column="drugManufacturer" />
            <result property="drugPrice" column="drugPrice" />
            <result property="remarks" column="remarks" />
    </resultMap>

    <sql id="Base_Column_List">
        id,insuranceType,chinaName,goodsName,specifications,drugUnit,
        drugManufacturer,drugPrice,remarks
    </sql>
</mapper>
